<nav class="navbar justify-content-between font-consolas font-weight-bold bg-black-pearl">
    <a class="navbar-brand text-light" routerLink="/home">
      <img src="assets/images/logo.png" style="width:9%">
      <span style="color: white;"> Game of Papers </span>
    </a>
    <div class="row" >
      <div class="col-md-12 font-consolas text-center">
          <a routerLink="/papers" style="color: white;">
              <i class="fa-solid fa-book"></i>
              Papers Directory

          </a>
      </div>
    </div>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-warning btn-md my-2 my-sm-0" type="submit">Find Papers</button>
    </form> -->

</nav>
