<div class="container">
    <div class="row">

        <div class="col-lg-8 text-truncate">
            <p class="mt-0 mb-0 grid-font"> {{ this.params.value }} </p>
        </div>

        <div class="col-lg-2">
            <a href="path/to/pdf/sample1.pdf" class="btn btn-sm btn-secondary w-75 font-consolas">View PDF <i class="fa-solid fa-eye"></i> </a>
        </div>
        <div class="col-lg-2">
            <a href="path/to/pdf/sample1.pdf" class="btn btn-sm btn-warning w-75 font-consolas"> Recommend <i class="fa fa-arrow-circle-right" style="color: white"></i> </a>
        </div>
        
    </div>
    
    <div class="row justify-content-start g-2">

    </div>
</div>

