<div class="container">
    <div class="row">

        <div class="col-lg-8 text-truncate">
            <p class="mt-0 mb-0 grid-font"> {{ this.params.value }} </p>
        </div>

        <div class="col-lg-2">
            <a (click)="onView(this.params)" 
            class="btn btn-sm btn-secondary w-75 font-consolas"
            style="color: white;">
                View <i class="fa-solid fa-eye" style="color: white"></i> 
            </a>
        </div>
        <div class="col-lg-2">
            <a (click)="onRecommend(this.params)" class="btn btn-sm btn-warning w-75 font-consolas"> 
                Recommend <i class="fa fa-arrow-circle-right"></i> 
            </a>
        </div>
        
    </div>
    
    <div class="row justify-content-start g-2">

    </div>
</div>

