/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.bg-black-pearl {
    background-color: #161b22;
}

.bg-onyx {
    background-color: #33383e;
}

.pagenotfound {
    color: white;
    background-color: #ffc107;
    border-radius: 5px;
    border-style: double;
    font-size: 2rem;
}

.pagenotfound-bg {
    position: fixed; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-image: url(assets/images/pagenotfound.gif);
    background-size: cover;
    background-position: center;
}

.font-consolas {
    font-family: Consolas, monospace;
}

.ag-theme-alpine .ag-header {
    font-family: Consolas, monospace;
}

.ag-theme-alpine {
    --ag-header-height: 3rem;
}

.grid-font {
    font-size: 1rem;
    font-style: oblique;
    letter-spacing: 0.016rem;
    font-weight: 500;
}

.conf-content {
    background-color: #161b22;
}