<div class="container mb-5 mt-5">
    <div class="row">
        <!-- Heading -->
        <div class="col-md-12">
            <h1 class="font-consolas"> Directory </h1>
            <p style="font-weight: 100;"> Utilize the tools 
                <i class="fa-solid fa-bars pr-1 pl-1" style="font-size: 0.8rem;"></i> 
                to start searching and applying filters, you can also sort by clicking on the column.
            </p>
        </div>     
    </div>

    <div class="row mb-2">

        <div class="col-md-2">
            <div class="">
                <label>Per Page:</label>
            </div>
        </div>

        <div class="col-sm-2 mb-1">
            <div class="">
                <input type="number" [(ngModel)]="itemsPerPage"  style="width: 5rem;border-radius: 0.3rem;" (change)="onChange()">
            </div>
        </div>

        <div class="col-md-8 text-right">
            <a
            (click)="onPrevious()"
            class="btn btn-sm btn-dark font-consolas mr-1 mb-1"
            style="color: white; width: 7rem;">
                <i class="fa fa-angle-double-left" style="color: white"></i> 
                Previous
            </a>

            <a
            (click)="onNext()"
            class="btn btn-sm btn-dark font-consolas ml-1 mb-1"
            style="color: white; width: 7rem;">
                Next
                <i class="fa fa-angle-double-right" style="color: white"></i> 
            </a>

        </div>
    </div>
<div>

<div class="ag-theme-alpine" style="margin-bottom: 7rem;">
    <ag-grid-angular
        id="myGrid"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [animateRows]="true"
        [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
</div>


