.cmd-bg {
    background: #00000066;
    border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ccc;
}

.card-body {
  flex: 1;
  display: flex;

  flex-direction: column;
  padding: 10px;
  overflow: auto;
  margin-bottom: 50px; /* add some bottom margin */
}

.card-title {
  margin-top: 0;
}

.card-text {

  left: 10px; /* adjust the left offset as needed */
}
.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; /* add padding to the container */
  background-color: #f5f5f5; /* optional: add a background color */
}

.button {
  flex: 1;
  width: 48%;
  margin: 0;
}
