.cmd-bg {
    background: #00000066;
    border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ccc;
}

.card-body {
  flex: 1;
  display: flex;

  flex-direction: column;
  padding: 10px;
  overflow: auto;
  margin-bottom: 50px; /* add some bottom margin */
}

.card-title {
  margin-top: 0;
}

.card-text {

  left: 10px; /* adjust the left offset as needed */
}
.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* adjust as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; /* add padding to the container */
  background-color: #f5f5f5; /* optional: add a background color */
}

.button {
  flex: 1;
  width: 48%;
  margin: 0;
}

/* Very Small devices (phones, 600px and up) */
@media only screen and (min-width: 200px) {
  #model-code-div {
    padding-left: 0rem;
  }
}

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #model-code-div {
    padding-left: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #model-code-div {
    padding-left: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #model-code-div {
    padding-left: 3rem;
  }
}

/* Very Small devices (phones, 600px and up) */
@media only screen and (min-width: 200px) {
  #training-diagram {
    width:100%;
  }
}

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #training-diagram {
    width:100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #training-diagram {
    width:65%;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #training-diagram {
    width:50%;
  }
}

.code-pink {
  color: #c484bb
}

.code-green {
  color: #43c4a5;;
}

.code-blue {
  color: #81dcfe
}

.code-yellow {
  color: #d6cb88;
}

.code-dark-yellow {
  color: #e9cc07
}

.code-red {
  color: #ce9178;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply the animation to the paragraph */
.blinkme {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}