<div class="container-fluid">
    <div class="row" style="min-height: 100vh;">
        <div class="col-lg-12 bg-onyx">
            <div class="container" style="margin-top: 2rem">

                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <img src="assets/images/logo-highres.png" style="width:12rem">
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-md-12 font-consolas text-light text-justify p-4">
                        <p> Welcome to <span style="color:#1dff1d"> Game of Papers </span>, 
                            the revolutionary machine learning model 
                            that's transforming scientific paper searches! Our app streamlines the
                            research process, delivering personalized recommendations based on your 
                            selected paper. With superior accuracy and lightning-fast results, 
                            Game of Papers outperforms competitors. Say goodbye to hours of endless 
                            searching and let Game of Papers guide you to the future of scientific research. 
                            Start exploring today!<p>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 5rem;">
                    <div class="col-md-12 font-consolas text-center">
                        <a class="btn-explore" routerLink="/papers"> 
                            <i class="fa-solid fa-book"></i>
                            Papers Directory  
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div *ngIf="this.data?.length > 0" class="container mt-1" style="margin-bottom: 7rem;">
                <div class="row font-consolas">
                    <div class="col-md-12">
                        <h2 class="text-left text-light"> Featured </h2>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4 mt-2 mb-2" *ngFor="let paper of this.data;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> {{ paper.title }} </h5>
                                <p class="card-text"> {{ paper.conference }} </p>

                                <div class="text-center">

                                    <a
                                    (click)="onView(paper.id)"
                                    class="btn btn-sm btn-secondary font-consolas mr-1"
                                    style="color: white; width: 7rem;">
                                        View <i class="fa-solid fa-eye" style="color: white"></i> 
                                    </a>

                                    <a 
                                    (click)="onRecommend(paper.id)"
                                    class="btn btn-sm btn-warning font-consolas"
                                    style="width: 7rem;">
                                        Recommend
                                        <i class="fa fa-angle-double-right"></i> 
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>  

        </div>
    </div>

</div>
